body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: black;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 100%;
    width: 100%;
    margin-left: 0;
}
.color-palette{
    
    height: 100%;
    width: 150px;
    margin: 0;
    display: flex;
   justify-content: center;
   align-items: center;
}

.color-palette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.color-sell {
   border:rgb(114, 114, 114) solid 1px;

}
.red{
    background-color: red;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
}
.green{
    background-color: green;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
}
.yellow{
    background-color: yellow;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
}
.black{
    background-color: black;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
}
.grey{
    background-color: rgb(114, 114, 114);
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
}



.field{
   
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: .5px;
}

.cell{
    width: 15px;
    height: 15px;
    border: 1px solid rgba(232, 232, 232, 0.717);
}
#eraser{
    margin-top: 10px;
}
